@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/_mixins.scss";

.blog {
  margin-top: 80px;
  margin-bottom: 120px;

  .container {

    .blog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          border-radius: 5px;
          border: 1px solid $title-color;
          color: $title-color;
          font-size: 16px;
          padding: 8px 20px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .blog-sorting {
        width: 148px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        cursor: pointer;

        .blog-sorting-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: space-between;
          color: $menu-text-color;
          font-family: Montserrat, sans-serif;

          span {
            margin-right: 8px;
          }
        }

        .blog-sorting-body {
          position: absolute;
          width: 100%;
          box-sizing: border-box;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          border-radius: 0 0 5px 5px;
          background: white;
          color: #8E8E8E;

          .blog-sorting-item {
            width: 211px;
            margin-bottom: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: $menu-text-color;
            }

            .blog-sorting-item-minus {
              margin-right: 2px;
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;

          .blog-sorting-head {
            color: $menu-text-color;
            background: $footer-color;
            border-radius: 5px 5px 0 0;
            padding-right: 23px;
          }

          .blog-sorting-body {
            display: block;
            border: 2px solid $footer-color;
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }

    .blog-articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 26px;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 338px;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;


        .pagination-page {
          font-size: 20px;
          font-weight: 400;
          cursor: pointer;
          color: $menu-text-color;

          &.active {
            color: $footer-color;
          }
        }
      }
    }
  }
}
