<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>

      <div class="auth-inputs">

        <div class="auth-input">
          <input type="text" class="input"
                 [ngStyle]="{'border-color': loginForm.get('email')?.invalid
                 &&(loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                 || loginForm.get('email')?.errors?.['pattern'] ? 'red' : ''}"
                 formControlName="email"
                 placeholder="Электронная почта">

          <div class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid
              && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
              && loginForm.get('email')?.errors?.['email']">
            Введите корректный email.
          </div>
        </div>

        <div class="auth-input">
          <input type="password" class="input"
                 [ngStyle]="{'border-color': loginForm.get('password')?.invalid
                 &&(loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'red' : ''}"
                 formControlName="password"
                 placeholder="Пароль">
          <div class="invalid-feedback" *ngIf="loginForm.get('password')?.invalid
              && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
            Данное поле обязательно для заполнения.
          </div>
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">
          Войти
        </button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>
  </div>
</section>
